.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h2, p {
  color: white;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 0;
}

a {
  color: #61dafb;
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.previewLink {
  font-size: large;
  word-wrap: break-word;
}

#host {
  font-weight: bold;
}

#orgUrl {
  color: #888;
}

.preview {
  text-align: left;
  padding: 20px;
  background-color: #888;
  overflow-x: scroll;
  color: white;
  font-weight: normal;
  background-color: #282c34;
}

h1 {
  margin: 10px;
}