body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34f6;
  font-size: x-large;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App-header {
  min-height: 20vh;
  margin-bottom: 50px;
}

.content {
  padding: 20px;
  color: white;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

input[type=text] {
  font-size: large;
  padding: 10px;
  width: 90%;
  background-color: transparent;
  border: 1px solid #aaa;
  color: white;
  text-align: center;
}

.content div {
  margin: 10px 0px;
}

code, pre {
  color: white;
  word-spacing: -5px;
  font-weight: bold;
  font-size: medium;
  vertical-align: bottom;
  color: orange;
  padding: 5px 10px;
  border-radius: 10px;
  word-wrap: break-word;
}